.trfg__download {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .trfg__download-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .trfg__download-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem;
  }
  
  .trfg__download-content-dash {
      width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 10px;
  margin: 1rem 0rem;
  }
  .trfg__download-content-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .trfg__download-content-heading {
    max-width: 254px;
  }
  .trfg__download-content-subheading {
    max-width: 420px;
  }
  .trfg__download-content-heading h1 {
    font-family: var(--font-family);
  
    /* font-family: Mulish; */
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    /* or 156% */
  
    color: #000000;
  }
  .trfg__download-content-subheading p {
      font-family: var(--font-family);
      font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  
  color: #7D7987;
  
  mix-blend-mode: normal;
  }
  .trfg__download-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trfg__download-image img {
    height: 100%;
    width: 100%;
  }
  
  .trfg__download-content-button {
      margin: 2rem 0rem;
      
  }
  .trfg__download-content-button button {
      width: 200px;
      height: 60px;
      border: 1.4px solid #458ff6;
      box-sizing: border-box;
      outline: none;
      background: white;
      /* border: none; */
      border-radius: 55px;
      font-family: var(--font-family);
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 60px;
      /* identical to box height, or 333% */
    
      color: #458ff6;
    
      mix-blend-mode: normal;
      cursor: pointer;
  }


@media screen and (max-width: 1024px) {
  .trfg__download-container {
    flex-direction: column;
  }
  .trfg__download-content {
    margin: 0rem;
  }
  .trfg__download-content-flex {
    align-items: center;
    justify-content: center;
  }
  .trfg__download-content-heading {
    text-align: center;
  }
  .trfg__download-image {
    margin: 2rem 0rem;
  }
  .trfg__download-content-heading h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .trfg__download-content-subheading p {
    font-size: 18px;
    line-height: 30px;
  }
  .trfg__download-content-subheading {
    text-align: center;
  }
}