* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  z-index: 1;
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 4rem 12rem;
}
.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}

.trfg__element-1 {
  display: flex;
}
.trfg__element-1 img {
  position: absolute;
  left: -3.12%;
  right: 94.9%;
  top: 2.73%;
  bottom: 95.32%;
  opacity: 1;
  z-index: 0;
}

.trfg__element-2 {
  display: flex;
}
.trfg__element-2 img {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: auto;
  opacity: 0.6;
  transform: rotate(21.46deg);
}
.trfg__element-3 {
  display: flex;
  position: absolute;
  left: 79.88%;
  right: 11.9%;
  top: 25.74%;
  bottom: 72.3%;

  opacity: 0.3;
  z-index: 0;
}
